RManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RManager"
 targetNamespace="urn:rm"
 xmlns:tns="urn:rm"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns1="urn:rm"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:rm"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns1="urn:rm"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="qualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="relation"><!-- ns1__relation -->

   <sequence>
     <element name="node-id" type="xsd:anyURI" minOccurs="1" maxOccurs="1"/><!-- ns1__relation::node_id -->
     <element name="service-id" type="xsd:anyURI" minOccurs="1" maxOccurs="1"/><!-- ns1__relation::service_id -->
     <element name="relation-id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns1__relation::relation_id -->
     <element name="anonymous-method" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns1__relation::anonymous_method -->
     <element name="privacy-lvl" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns1__relation::privacy_lvl -->
     <element name="interval" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns1__relation::interval -->
   </sequence>
  </complexType>
  <complexType name="body"><!-- ns1__body -->

   <sequence>
     <element name="relation" type="ns1:relation" minOccurs="0" maxOccurs="unbounded"/><!-- ns1__body::relation -->
   </sequence>
  </complexType>
  <complexType name="header"><!-- ns1__header -->

   <sequence>
   </sequence>
     <attribute name="massage" type="xsd:string" use="required"/><!-- ns1__header::massage -->
  </complexType>
 </schema>

</types>

<message name="register">
 <part name="req" type="ns1:transport"/><!-- ns1__register::req -->
</message>

<message name="transport">
 <part name="header" type="ns1:header"/><!-- ns1__register::header -->
 <part name="body" type="ns1:body"/><!-- ns1__register::body -->
</message>

<message name="change">
 <part name="req" type="ns1:transport"/><!-- ns1__change::req -->
</message>

<message name="delete">
 <part name="req" type="ns1:transport"/><!-- ns1__delete::req -->
</message>

<portType name="RManagerPortType">
 <operation name="register">
  <documentation>Service definition of function ns1__register</documentation>
  <input message="tns:register"/>
  <output message="tns:transport"/>
 </operation>
 <operation name="change">
  <documentation>Service definition of function ns1__change</documentation>
  <input message="tns:change"/>
  <output message="tns:transport"/>
 </operation>
 <operation name="delete">
  <documentation>Service definition of function ns1__delete</documentation>
  <input message="tns:delete"/>
  <output message="tns:transport"/>
 </operation>
</portType>

<binding name="RManager" type="tns:RManagerPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="register">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:rm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:rm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="change">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:rm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:rm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="delete">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:rm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:rm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="RManager">
 <documentation>gSOAP 2.8.16 generated service definition</documentation>
 <port name="RManager" binding="tns:RManager">
  <SOAP:address location="http://10.0.0.2/cgi-bin/server.cgi"/>
 </port>
</service>

</definitions>
